@import url(./reset.scss);

.wrap {
  .scroll-container {
    overflow-x: hidden;
    display: flex;

    //animation component start
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
    svg {
      width: 500px;
      height: 500px;
    }
    //animation component end

    .panel {
      // min-width: 1335px;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active{
        svg {
          #gram {
            stroke-dasharray: 2225; //getTotalLength()
            stroke-dashoffset: 2225;
            animation: draw 2s ease-in-out forwards .2s;
          }
        }
      }

      &:nth-of-type(2) {
        position: relative;
        outline: 1px solid red;
        .ctaBtn {
          position: absolute;
          min-width: 310px;
          max-width: 310px;
          height: 65px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          margin-left: 13em;
          margin-top: 13em;
          z-index: 1000;
          background-color: #cd4671;
          border-radius: 40px;
          color: #fff;
          font-size: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .3s ease-in-out;

          &:hover {
            background-color: #000;
            color: #fff;
          }
        }
      }

      &:nth-of-type(4) {
        position: relative;
        .slideCol {
          margin: 0 auto;
          position: relative;
          position: absolute;

          width: 100%;
          max-width: 40vw;
          height: 0;
          padding-bottom: 62.73%; //468 / 746 * 100
          // padding-bottom: calc(100vw * 486 / 746); //468 / 746 * 100

          // width: 746px;
          // height: 468px;
          // bottom: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
          // outline: 1px solid red;
          .swiper{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }

          .swiper-button-prev {
            left: -115px;
            width: 60px;
            height: 65px;
            background: url(/images/arrow_left.png);
            outline: 1px solid red;

            &::after {
              display: none;
            }
          }

          //.swiper-button-prev
          .swiper-button-next {
            right: -115px;
            width: 60px;
            height: 65px;
            background: url(/images/arrow_right.png);

            &::after {
              display: none;
            }
          }

          //.swiper-button-next
        }
      }

      &:nth-of-type(5) {
        position: relative; 
        .animCol {
          position: absolute;
          top: 200px; //위치값 조절해주기
          left: 260px;
          outline: 1px solid blue;
        }
      }

      >img {
        display: block;
        height: 100vh;
        width: auto;
      }

      @media (max-width: 1290px) {

      }
    }

    //.panel
  }

  //.container
}

//.wrap
